# Build results
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio code directories
.vs/

# Secrets
appsettings.Development.json
appsettings.Local.json

# Entity Framework Migrations build artifacts
migrations/

# NuGet packages
*.nupkg
packages/
